@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="Home.gif" style="width: 100%;" /> <br /><br />
    <p>
        <h2 style="text-align: center; line-height: 1.5;">Carefully crafted sustainable stationery that inspires everyday tasks and creativity at your desk.</h2>
    </p>
    <br />
    <row style="width: 100%;">
        <div class="wrapper">
            <img src="~/HomeImg1.png" style="width: 33%; padding: 20px;" />
            <img src="~/HomeImg2.png" style="width: 33%; padding: 20px; " />
            <img src="~/HomeImg3.gif" style="width: 33%; padding: 20px; " />
        </div>
    </row>
    <br />
    <p>
        <h4 style="text-align: center; line-height: 1.8;">
            The paper for our latest products is made from 100% post-consumer waste paper -
            what would otherwise have ended up in a landfill or incinerator is now being put to good use.
        </h4>
    </p>
    <br />
    <p>
        <img src="HomeImg4.gif" style="width: 100%;" />
    </p>
</div>
